/configuration.nix
/nixops/secrets/
/nixos/*-secrets.nix
/pkgs/weechat/logs/
/pkgs/weechat/script/plugins.xml.gz
/pkgs/weechat/slack.cache
/pkgs/weechat/weechat.log
/result
/.-rplugin~
/.floo
/.flooignore
/.direnv
/.pre-commit-config.yaml

# Terraform/OpenTofu
**/*.tfstate
**/*.tfstate.*
**/*.tfstate.backup
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfvars
**/*.auto.tfvars
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
