/configuration.nix
/nixops/secrets/
/nixos/*-secrets.nix
/pkgs/weechat/logs/
/pkgs/weechat/script/plugins.xml.gz
/pkgs/weechat/slack.cache
/pkgs/weechat/weechat.log
/result
/.-rplugin~
/.floo
/.flooignore
